.wrapper {
	@apply py-2;

	.darken_enter {
		opacity: 0;
		@apply absolute bottom-0 left-0 w-full h-screen z-2;
		background: rgb(0, 0, 0, 0.4);
	}

	.darken_enter_active {
		opacity: 1;
		transition: opacity 175ms;
	}

	.darken_enter_done {
		opacity: 1;
		@apply absolute bottom-0 left-0 w-full h-screen z-2;
		background: rgb(0, 0, 0, 0.4);
	}
	.darken_exit {
		opacity: 1;
		@apply absolute bottom-0 left-0 w-full h-screen z-2;
		background: rgb(0, 0, 0, 0.4);
	}

	.darken_exit_active {
		opacity: 0;
		transition: opacity 150ms;
	}

	.darken_exit_done {
		display: none;
		@apply absolute bottom-0 left-0 w-full h-screen z-2;
		background: rgb(0, 0, 0, 0.4);
	}

	form {
		.modal_enter {
			transform: translateY(100%);
		}

		.modal_enter_active {
			transform: translateY(0);
			transition: transform 250ms;
		}

		.modal_exit {
			transform: translateY(0);
		}

		.modal_exit_active {
			transform: translateY(100%);
			transition: transform 200ms;
		}

		> button {
			@apply my-4 mx-auto;
		}

		.create_program {
			@apply bg-blue-500 text-white;
			margin: 0;

			&:hover {
				@apply bg-blue-600;
			}
		}

		.list {
			h3 {
				@apply text-sm uppercase text-gray-600 block mb-2;
			}
			@apply mt-8  w-full overflow-y-scroll;
			height: 95%;

			&__card {
				@apply relative flex justify-start rounded items-end mb-2 h-[4rem];
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;

				h2 {
					@apply text-white text-lg font-semibold text-shadow my-2 mx-4;
				}

				.icon {
					@apply absolute top-1 right-1 text-white text-2lg z-2;
				}

				&:hover {
					-webkit-filter: brightness(0.8);
					filter: brightness(0.8);
					cursor: pointer;
				}
			}
		}
	}
}
