.form {
  @apply grid gap-4;
  grid-template-rows: 8fr 1fr;
  height: calc(100vh - var(--navbar-height) - var(--header-height));

  .list_block {
    @apply overflow-y-hidden my-[1rem];

    > .header {
      @apply flex items-center justify-between;

      h3 {
        @apply text-lg uppercase text-gray-600 block;
      }

      .add_btn {
        @apply bg-dark_blue;
        svg {
          @apply font-bold transition-colors;

          path {
            stroke-width: 64;
          }
        }

        &:hover {
          @apply animate-lift;
        }
      }
    }

    .exercise_list {
      @apply bg-white rounded-2xl shadow mt-[1rem];
    }
  }

  .form_buttons {
    @apply flex items-end gap-2 max-h-[4rem];

    .create_program_btn {
      @apply h-[4rem] uppercase transition-colors;

      &:hover {
        @apply bg-light_blue;
      }
    }

    .clear_btn {
      @apply h-[4rem] uppercase transition-colors;

      &:hover {
        @apply bg-light_blue;
      }
    }
  }
}

.drag_icon {
  @apply w-full h-full flex items-center justify-end cursor-grab;

  svg {
    @apply h-[50%] w-[50%];
  }
}
