.card {
  @apply w-full flex items-center justify-center px-[4em];
  height: 80vh;

  > .content {
    @apply text-white text-center flex-col rounded-xl items-center p-2 shadow;
    background: #b2bbc0;

    > h3 {
      @apply text-lg mb-3;
    }

    > p {
      @apply text-sm font-light;
    }
  }
}

.program_list_wrapper {
  @apply w-full py-[1rem];
  height: 80vh;

  .content {
    @apply text-white text-center flex flex-col rounded-xl items-center gap-4;

    > h3 {
      @apply text-lg mb-3;
    }

    > p {
      @apply text-sm font-light;
    }
  }
}

