.wrapper {
	@apply absolute bottom-0 left-0 right-0 w-full bg-white z-3 rounded-t-xl overflow-y-hidden;
	height: 95vh;

	.content {
		@apply w-full h-full;

		.header {
			@apply relative h-[2.5em] w-full text-2lg flex-center-between;

			.cross {
				@apply absolute right-4;
				top: 34%;
			}
		}

		.muscle_groups {
			@apply relative w-full overflow-y-scroll;
			height: 95%;

			&__card {
				@apply flex justify-start rounded items-end mb-2 h-[6.5rem];
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;

				h2 {
					@apply text-white text-lg font-semibold text-shadow my-2 mx-4;
				}

				&:hover {
					-webkit-filter: brightness(0.8);
					filter: brightness(0.8);
					cursor: pointer;
				}
			}
		}
	}

	.exercises_enter {
		transform: translateX(100%);
	}

	.exercises_enter_active {
		transform: translateX(0);
		display: block;
		transition: transform 250ms;
	}

	.exercises_exit {
		transform: translateX(0);
		display: block;
	}

	.exercises_exit_active {
		transform: translateX(100%);
		display: block;
		transition: transform 250ms;
	}
}
