$nav-height: 4.25em;
$header-height: 3.5em;

.layout {
	@apply relative;
	min-height: 100vh;

	> header,
	> nav {
		@apply fixed left-0 right-0 z-1;
	}
	> header {
		@apply top-0 bg-white shadow;
		height: $header-height;
	}
	> nav {
		@apply bottom-0;
		height: $nav-height;
		padding: 0 1em 1em 1em;
		background: #f0f0f1;
	}

	&__main {
		@apply px-[1em];
		min-height: 90vh;
		padding-top: $header-height;
		background: #f0f0f1;
	}
}
