$nav-height: 4.25em;
$header-height: 3.5em;

.layout {
	@apply relative;

	> header,
	> nav {
		@apply fixed left-0 right-0;
	}
	> header {
		@apply top-0 bg-white shadow;
		height: $header-height;
	}
	> nav {
		@apply bottom-0;
		height: $nav-height;
		padding: 0 1em 1em 1em;
		background: #f0f0f1;
	}

	&__main {
		@apply min-h-screen;
		padding: 0 1em;
		margin-top: $header-height;
		background: #f0f0f1;
	}
}
