.button, .neutral {
	@apply flex items-center justify-center font-medium shadow text-center text-white cursor-pointer;
	padding: 6px 16px;
}

// additional:
.full_width {
	@apply w-full;
}

.disabled {
	opacity: 0.7;
}

// sizes:
.s {
	@apply rounded-md;
	font: var(--font-s);
}

.m {
	@apply rounded-lg;
	font: var(--font-m);
}

.l {
	@apply rounded-xl;
	font: var(--font-l);
}

// colors:
.success {
	@apply bg-light_green;
}

.invalid {
	@apply bg-indian_red;
}

.primary {
	@apply bg-light_blue;
}

.secondary {
	@apply bg-dark_blue;
}

.outlined {
	@apply border-2 border-light_blue text-light_blue;
	background: transparent;
	font-weight: 700;
}

.clear {
	padding: 0;
	outline: none;
	border: none;
	box-shadow: none;
	background: none;
	animation: none;
}

.circle {
	padding: 10px;
	border-radius: 50%;
}



