.navbar {
	@apply relative;
	&__panel {
		@apply h-full bg-white rounded-xl shadow;
		ul {
			@apply h-full flex-center-between mx-auto;
			width: 60%;

			a {
				@apply flex flex-col items-center transition;
				color: #757575;
				font-size: 1.7em;
				> p {
					@apply font-medium;
					font-size: 0.43em;
				}

				&:hover {
					color: #2962ff;
				}
			}

			.active {
				color: #2962ff;
			}
		}
	}
}
