.navbar {
	@apply relative;
	ul {
		@apply h-full flex-center-between mx-auto;
		width: 60%;

		a {
			@apply flex flex-col items-center transition;
			color: #626d7a;
			font-size: 1.7em;
			> p {
				@apply font-medium;
				font-size: 0.43em;
			}

			&:hover {
				color: #0d47a1;
			}
		}
	}
}
