.modal {
	@apply w-full h-full;

	.header {
		@apply relative h-[2.5em] w-full text-l flex-center-between;

		.icon {
			@apply absolute right-4;

			top: 34%;
		}
	}

	.list {
		@apply relative w-full overflow-y-scroll;

		height: 95%;

		&__card {
			@apply flex justify-start rounded items-end mb-2 h-[6.5rem];

			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;

			h2 {
				@apply text-white text-lg font-semibold text-shadow my-2 mx-2;
			}

			&:hover {
				filter: brightness(0.8);
				cursor: pointer;
			}
		}
	}
}
